
          <div>
          <div id="blog" class="blog-post">
            <h2 class="blog-post-title">Cloning the Contents of a Git Repo Without the Top-Level Folder</h2>
            <p class="blog-post-meta">February 19, 2016 by <a href="#">Edward</a></p>

            <pre>git clone path_to_repo .</pre>
            <p>The key is the period at the end of the command. Also, the destination directory must be empty, otherwise git will give you an error/warning message.</p>


          </div><!-- /.blog-post -->
          </div>
