
          <div>
          <div id="blog" class="blog-post">
            <h2 class="blog-post-title">Dalvik Bytecode</h2>
            <p class="blog-post-meta">February 19, 2016 by <a href="#">Edward</a></p>

            <p>Recently, I spoke with the founder of PNF software, a company responsible for creating the JEB decompiler for Android applications. Dalkvik, compiled from Java, is a space-saving alternative to Java Bytecode. Android uses a Linux-based kernel, but applications run in Dalvik/Java-based sandboxes. Here is an excellent tutorial/intro: <a href="http://pallergabor.uw.hu/common/understandingdalvikbytecode.pdf">Understanding the Dalvik bytecode with the Dedexer tool</a>.</p>
            <p>Other great resources:</p>
            <ul>
              <li><a href="https://www.pnfsoftware.com/jeb1/help/dalvik-bytecode.html">dalvik bytecode overview</a></li>
              <li><a href="https://source.android.com/devices/tech/dalvik/dalvik-bytecode.html">another dalvik bytecode overview </a></li>
              <li><a href="http://source.android.com/devices/tech/dalvik/instruction-formats.html">instruction formats </a></li>
              <li><a href="https://source.android.com/devices/tech/dalvik/dex-format.html">dex format </a></li>
            </ul>

          </div><!-- /.blog-post -->
          </div>
