
          <div>
          <div id="blog" class="blog-post">
            <h2 class="blog-post-title">Encrypting a Single File</h2>
            <p class="blog-post-meta">February 8, 2016 by <a href="#">Edward</a></p>

            <p>Sometimes, you want to encrypt a single file or group of files such that a password can decrypt them. There are a few options:</p>

            <ul>
              <li>Encrypted and password-protected PDF. I think it uses RC4 by default.</li>
              <li>Use the Mac Disk Utility</li>
              <li>Use openssl</li>
              <li>Probably many more options</li>
            </ul>
            <p>Here I will explain the openssl option. I am borrowing/copying from Dennis on SuperUser.com/StackExhange, originally posted <a href="http://superuser.com/questions/370388/simple-built-in-way-to-encrypt-and-decrypt-a-file-on-a-mac-via-command-line">here</a>. Dennis copied the commands from <a href="https://www.madboa.com/geek/openssl/#encrypt-simple">here</a>.</p>

            <p>"opensll comes pre-installed on Mac OS X." Here are the relevant commands:</p>
<pre>
# encrypt file.txt to file.enc using 256-bit AES in CBC mode
openssl enc -aes-256-cbc -salt -in file.txt -out file.enc

# the same, only the output is base64 encoded for, e.g., e-mail
openssl enc -aes-256-cbc -a -salt -in file.txt -out file.enc

# decrypt binary file.enc
openssl enc -d -aes-256-cbc -in file.enc -out file.txt

# decrypt base64-encoded version
openssl enc -d -aes-256-cbc -a -in file.enc -out file.txt
</pre>
              <p>"These commands use 256-bit AES ecryption with Cipher Block Chaining (CBC), which is about as secure as it gets right now."</p>

          </div><!-- /.blog-post -->
          </div>
