
          <div>
          <div id="blog" class="blog-post">
            <h2 class="blog-post-title">Grammar Gotchas</h2>
            <p class="blog-post-meta">February 19, 2016 by <a href="#">Edward</a></p>

            <ul>
              <li><a href="http://www.quickanddirtytips.com/education/grammar/when-to-use-a-comma-before-because">Sometimes you need a comma before 'because,' sometimes you don't.</a></li>
              <li><a href="http://www.quickanddirtytips.com/education/grammar/whoa-or-woah">It's 'whoa,' not 'woah.'</a></li>
              <li><a href="http://www.quickanddirtytips.com/education/grammar/which-versus-that-0">'That' vs. 'Which'</a></li>
            </ul>

          </div><!-- /.blog-post -->
          </div>
