
          <div>
          <div id="blog" class="blog-post">
            <h2 class="blog-post-title">Streaming a Coding Session</h2>
            <p class="blog-post-meta">February 6, 2016 by <a href="#">Edward</a></p>

            <p>For a recent job interview, a startup company asked me to stream myself coding. I had never streamed before, but as I learned, the process is very straightforward. You can be up and running within 30 minutes easily. It requires no advanced technical knowledge.</p>
            <hr>
            <p>The company recommended that I use the livecoding.tv streaming service in combination with the client-side tool OBS. <a href="https://www.livecoding.tv/streaming-guide/">Here</a> are some great instructions for quickly setting up both tools together.</p>

            <p>OBS gives you the ability the stream or record to your disk or both concurrently. You can easily configure which input streams to include: your desktop, webcam, microphone, etc.</p>

            <p>Most free streaming services, including livecoding.tv, do not allow streamers to restrict their viewship or stream privately to a selected audience. Although the startup company was comprised of just four people, an hour into my streaming session, there were about 20 people actively watching me code from around the world. At least 16 of the viewers were complete strangers not affiliated with the startup. I'm not sure how they found my stream or why they were interested in watching me. The total view count for my 6-hour coding session was 302.</p>

            <p>At first I was extremely anxious having an audience of 20 people looking over my shoulder. However, that pressure motivated me to stay on-task, focused, and efficient for the entire session. No temptations to check Facebook or reddit or my email. The textual chat module was also fun. A few of the viewers were friendly and they asked questions about my project or about my background. One or two of the viewers provided me useful recommendations about time-saving tools and strategies when they saw that I wasn't solving the challenge in the most efficient manner. The moderators of the streaming service (livecoding.tv) occaisionally jumped into the chat to give me advice if my streaming was blurry or if I wasn't taking advantage of one of their tools.</p>

            <p>After an hour or two, I began enjoying having an audience. On future open-source coding projects, I'll definitely stream again.</p>

            <p>One important warning is that, while streaming, <strong>you do not want to accidentally share any sensitive information</strong>, such as passwords, emails, or browser history. I still haven't sorted out the best strategy for avoiding accidental information leaks. I cleared my browser history before starting. Perhaps it would have also been a good idea to configure OBS to only stream a selected region of my desktop, rather than my entire desktop.</p>

            <p>A final important note: your videos probably remain available for public viewing (or maybe download) on the streaming site for a few days after your session. You can manually delete the videos from the site, but I suspect that the streaming service will automatically delete the videos after a few days.</p>
          </div><!-- /.blog-post -->
          </div>